*{
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}



.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
  gap: 20px;
  padding-top: 20px;
}

.element-air, .element-earth, .element-fire, .element-water {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  flex-direction: column;
  opacity: 0.9;
}
.element-fire {
  width: 150px;
  height: 150px;
  color:aliceblue;
  text-align: center;
  background-color: red;
}

.element-water {
  width: 150px;
  height: 150px;
  color: pink; 
  text-align: center;
  background-color: blue;
}


.element-earth {
  width: 150px;
  height: 150px;
  color: aliceblue;
  text-align: center;
  background-color: green;
}

.element-air {
  width: 150px;
  height: 150px;
  color: pink;
  text-align: center;
  background-color: gray;
}

button[id^='ing_'] {
  border-radius: 5px;
  border: none;
  background-color: whitesmoke;
  cursor: pointer;
  font-size: 14px;
  transition: transform .2s; /* Animation */
}

button[id^='ing_']:hover {
  background: linear-gradient(45deg, rgb(224, 148, 41), rgb(20, 214, 175));
  color: black;
  transform: scale(1.05);
}

.selection-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px 0;
}

.ingredients-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.first-ing, .second-ing {
  width: 150px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  opacity: 0.9;
}


.potion-result { 
  width: 320px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: rosybrown;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 0 auto;
  opacity: 0.9;
}
